<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>The Mortal Trials</title>
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>
    <h1>Welcome to</h1>
    <br>
    <img id="themortaltrialslogo" src="{{ url_for('static', filename='assets/images/themortaltrialslogo.webp') }}"
        alt="The Mortal Trials">
    <p>Your hub for the ultimate tactical D&D roguelike experience.</p>

    <a href="{{ url_for('run_generator') }}">
        <button>Go to Run Generator</button>
    </a>
    <a href="{{ url_for('characters_hub') }}">
        <button>Go to Characters Hub</button>
    </a>
    <div class="social-icons">
        <a href="https://discord.gg/CmNqX7Mrtp" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-discord"></i>
        </a>
        <a href="https://www.patreon.com/c/TheMortalTrials" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-patreon"></i>
        </a>
    </div>
</body>

</html>